APP_NAME="FaruTech API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://api.farutech.local

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Base de datos principal (MySQL para Website)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=farutech_web
DB_USERNAME=root
DB_PASSWORD=CHANGE_ME_OR_SET_SECRET

# Base de datos transaccional (PostgreSQL para Admin/API)
DB_PG_CONNECTION=pgsql
DB_PG_HOST=127.0.0.1
DB_PG_PORT=5432
DB_PG_DATABASE=farutech_admin
DB_PG_USERNAME=postgres
DB_PG_PASSWORD=CHANGE_ME_OR_SET_SECRET

# Base de datos logs (MongoDB para auditoría)
DB_MONGO_CONNECTION=mongodb
DB_MONGO_HOST=127.0.0.1
DB_MONGO_PORT=27017
DB_MONGO_DATABASE=farutech_logs
DB_MONGO_USERNAME=admin
DB_MONGO_PASSWORD=CHANGE_ME_OR_SET_SECRET

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=CHANGE_ME_OR_SET_SECRET
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=noreply@farutech.com
MAIL_PASSWORD=CHANGE_ME_OR_SET_SECRET
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="noreply@farutech.com"
MAIL_FROM_NAME="${APP_NAME}"

# Sanctum Configuration
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,admin.farutech.local,farutech.com,farutech.local
SESSION_DOMAIN=.farutech.local
