APP_KEY=base64:GENERATE_VIA_`php artisan key:generate`
APP_ENV=production
APP_DEBUG=false
APP_URL=https://www.farutech.com
APP_TIMEZONE=America/Bogota

LARAVEL_SERVE=backend
CORS_ALLOWED_ORIGINS=https://www.farutech.com,https://admin.farutech.com
SESSION_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

# Database (PostgreSQL – aplicaciones transaccionales)
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=farutech
DB_USERNAME=farutech
DB_PASSWORD=CHANGE_ME_OR_SET_SECRET

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=CHANGE_ME_OR_SET_SECRET
REDIS_PORT=6379

# Mail (Mailhog en dev, SMTP en prod)
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_FROM_ADDRESS=hello@farutech.com
MAIL_FROM_NAME="FaruTech"

# Admin / Intranet – Sanctum SPA tokens
SESSION_DOMAIN=farutech.local
SANCTUM_STATEFUL_DOMAINS=admin.farutech.local,intranet.farutech.local